<style>
    h2{
        background-color:yellow;
        color:maroon;
    }
    .c{
        background-color:orange;
        color:rgb(207, 4, 4);
    }
    #h{
        background-color:teal;
        color:white;
    }
</style>